<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Countdown</title>

    <script src="dist/js/moment.min.js"></script>
    <script src="dist/js/d3.min.js"></script>
    <script src="dist/js/vue.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
    <section id="display">
        <h1 v-if="chosen">{{chosen.Title}}</h1>
        <h1 v-else>Don't Panic</h1>
        <div class="countdown">
            <div>
                <p class=number>{{count.days | two_digits}}</p>
                <p>Days</p>
            </div>
            <div>
                <p class=number>{{count.hours | two_digits}}</p>
                <p>Hours</p>
            </div>
            <div>
                <p class=number>{{count.minutes | two_digits}}</p>
                <p>Minutes</p>
            </div>
            <div>
                <p class=number>{{count.seconds | two_digits}}</p>
                <p>Seconds</p>
            </div>
        </div>
        <p class="fade">Choose your exam</p>
        <svg class="fade" width="150px" height="70px" viewbox="0 -5 200 115" version="1.0">
            <path d="M0 0 L 100 100 L 200 0"
            stroke="#EE6352" stroke-width=10 stroke-linecap="round" fill="none" />
        </svg>
    </section>
    <section id="list">
        <table>
            <tbody>
                <tr v-for="e in exam" v-on:click="choose" v-bind:class="{chosen: chosen === e}">
                    <td>{{e.Title}}</td>
                    <td>{{e.Date.format("dddd Do MMMM YYYY hh:mm a")}}</td>
                </tr>
            </tbody>
        </table>
    </section>
    </div>

    <script>
        var display = new Vue({
            el: '#app',
            data: {
                now: moment(),
                chosen: false,
                exam: [],
                count: {days: 0, hours: 0, minutes: 0, seconds: 0}
            },
            mounted: function(){
                var self = this
                window.setInterval(function(){
                    self.now = moment()
                }, 1000)
            },
            watch: {
                chosen: function(){
                    this.tick()
                },
                now: function(){
                    this.tick()
                },
                exam: function(){
                    this.chosen = this.exam[0]
                }
            },
            methods: {
                latest: function () { if(this.exam[0]){ this.chosen = this.exam[0] } },
                choose: function (e){
                    res = this.exam.filter(function(entry){
                        if(entry.Title.replace(/\s/g,"") === e.target.innerText.replace(/\s/g,"")
                           || moment(e.target.innerText, "dddd Do MMMM YYYY hh:mm a").isSame(entry.Date)){
                            return entry
                        }
                    })
                    if(res[0]){
                        this.chosen = res[0]
                    }
                },
                tick: function(){
                    var time = moment.duration(this.chosen.Date.diff(this.now))
                    this.count = {days: Math.floor(time.asDays()), hours: time.hours(), minutes: time.minutes(), seconds: time.seconds()}
                }
            },
            filters:{
                two_digits: function (value) { if (value.toString().length <= 1) { return "0" + value.toString(); } return value.toString(); }
            }
        })
        d3.csv('data/exam.csv', function (data) {
            display.exam = data.map(function(row){
                row.Date = moment(row.Date.substring(4) + ' ' + row.Start, "DD MMM HH:mm")
                return row
            }).sort(function (a, b) {
                return a.Date.isAfter(b.Date) ? 1 : -1
            })
        })
    </script>
</body>
</html>